.sub-btn{


color: #0f0f0f;

padding: 10px 14px;
cursor: pointer;

margin: 2px;
background-color: #ffffff;


font-weight: 450;
font-family: 'Roboto', sans-serif;
appearance: none;
font-size: 14.5px;

border-radius: 25px;
}


.sub-btn::before {
    
    content: "Subscribe";
}

.sub-btn:checked::before{
    content: 'Subscribed';

    
    
}

.sub-btn:checked{
    color: white;
    background-color: #313131;
}
